<section>
  <h2>Add an user</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="input-box">
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="user.name" name="name" required>
  </div>

    <div class="input-box">
    <label for="name">First name:</label>
    <input type="text" id="firstName" [(ngModel)]="user.firstName" name="firstName" required>
  </div>

    <div class="input-box">
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
  </div>

    <div class="input-box">
    <label for="userType">Type user:</label>
    <select id="userType" [(ngModel)]="user.userTypeId" name="userType" required>
      <option *ngFor="let type of userTypes" [value]="type.id">{{ type.type }}</option>
    </select>
  </div>
    <button class="login-btn" type="submit">Create</button>
  </form>
  </section>
